h2 {
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: #100f29;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin: 20px;
}
.carousel {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  max-width: 100rem;
  background: #513d3c;
  margin: 0 auto;
}

.carousel-control {
  width: 5%;
}

.item {
  height: 100%;
  width: 100%;
  padding: 40px;
}

.card {
  display: block;
  margin: 40px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  background: #e4d8ce;
  padding: 10px;
}

.card-title {
  font-size: 1.75em;
}

.button {
  margin: 20px 5px;
  background: #7d6577;
  color: #e4d8ce;
  font-size: 20px;
}

.button:hover {
  background: #c2adbd;
}

.badge {
  background: #100f29;
  font-size: 15px;
}

.img-card {
  width: 100%;
  height: 500px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}

.img-fluid {
  width: 100%;
  object-fit: contain;
  transition: all 0.25s ease;
}

@media only screen and (max-width: 989px) {
  .img-card {
    height: 100%;
  }
}
