.container {
  background: #5A3F3A;
  height: 25vh;
  width: 100%;
}

h1 {
  color: #E4D8CE;
  
}

.logo {
  height: 90px;
  width: 90px;
  margin-right: 1em;
}


.log-in {
  float: right;
  color: #E4D8CE;
  margin: 40px;
}

.log-in button {
  background: #7D6577;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: -5px 5px 10px rgba(100,100,100,.8);
}

.log-in button:hover {
  background: #C2ADBD;
  transition-duration: .6s;
  transition-timing-function: ease;
}


@media screen and (min-width:768px){
  .navbar-brand-centered {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
      
  }
  h1{
    margin-left: -35px;
  }
  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
  }
  .nav {
    margin: 40px;
    margin-left: -15px;
    color: #E4D8CE;
    padding: 35px;
  }
}

@media only screen and (max-width:768px){
  .log-in button {
    width: 85px;
    position: relative;
    left: 50%; 
  }
  .nav {
    color: #E4D8CE;
  }
}
