.container {
  background: #48120e;
  height: 25vh;
  width: 100%;
}

.logo {
  height: 225px;
  width: 225px;
  padding-bottom: 2.5em;
  margin: 0 auto;
}

.log-in {
  float: right;
  color: #f8f3e6;
  margin: 15px;
  
}

.log-in button {
  background: #ab3e16;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: -5px 5px 10px rgba(100, 100, 100, 0.8);
}

.log-in button:hover {
  background: #efaa52;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.navbar-default .navbar-nav > li > a {
  color: #f8f3e6;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #efaa52;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #efaa52;
}

.navbar-default .navbar-toggle {
  border-color: #ab3e16;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #efaa52;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ab3e16;
}

aside.ScrollUpButton__Container.ScrollUpButton__Toggled {
  background-color: #ab3e16 !important;
  color: #e7cc8f !important;
}

.nav-links {
  font-weight: 700;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
  }
  h1 {
    margin-left: -35px;
  }
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -130px;
  }
  .nav {
    margin: 40px;
    color: #f8f3e6;
  }
  
}

@media only screen and (max-width: 768px) {
  .log-in button {
    width: 85px;
    position: relative;
    left: 40%;
  }
  .log-in {
    position: absolute;
    top: 60px;
    right: 15px;
  }
  .nav {
    color: #f8f3e6;
  }
  div#navbar-brand-centered.collapse.navbar-collapse {
    padding-left: 25px;
  }
}
