footer {
  margin-top: 60px;
}

a {
  color: #f8f3e6;
}

a:hover {
  color: #ab3e16;
}

li {
  padding: 10px;
}
.ul.nav.nav-justified {
  margin: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #efaa52;
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 0;
  }
}