main {
  height: 100%;
  box-sizing: border-box;
}

section {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #efaa52;
  background: #e7cc8f;
}

section:nth-of-type(5) .column:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 66px;
}

div.column > a {
  text-decoration: none;
  color: #48120e;
  font-weight: bold;
}
